<ion-item>

  <ion-input
    [fill]="fill"
    [value]="value || ''"
    [type]="type"
    [label]="label || ''"
    [labelPlacement]="labelPlacement || ''"
    [placeholder]="placeholder"
    [disabled]="isDisabled"
    (ionInput)="handleInput($event)"
    (ionBlur)="handleBlur()"
  >
  <ion-icon slot="start" [name]="icon"></ion-icon>
  </ion-input>
</ion-item>
<!-- errores -->
<div class="error" *ngIf="control?.touched && control?.invalid">
  <small *ngFor="let error of control?.errors | keyvalue">
    {{ errorMessages[error.key] || error.key }}
  </small>
</div>

