<ion-content scrollY="true">
  <ion-card>
    <ion-card-header>
      <ion-button routerLink="/auth/login" class="back-btn" >
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title class="ion-text-start">
        <h1 class="title">
          Agrega Nueva Tarjeta
        </h1>
      </ion-title>
      <ion-label class="ion-text-start subtitle">
        Enlaza seguramente tu metodo de pago
      </ion-label>
    </ion-card-header>
    <ion-card-content>

      @if((card$ | async); as card){
        <app-credit-card
          [card]="card"
        />
      } @else {
        <app-credit-card
          [card]="cardPlaceHolder"
        />
      }

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label position="start">Nombre Titular </ion-label>
              <app-custom-input
                formControlName="cardHolder"
                type="text"
                maxLength="40"
                placeholder="James Smith"
                [errorMessages]="{
                  required: 'El nombre del titular es obligatorio'
                }"
              >
              </app-custom-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="start">Número Tarjeta</ion-label>
              <app-custom-input
                formControlName="cardNumber"
                appCreditCardFormatter
                type="string"
                maxLength="20"
                placeholder="**** **** **** ****"
                [errorMessages]="{
                  required: 'El numero de tarjeta es obligatoria'
                }"
              >
              </app-custom-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label position="start">Fecha Exp.</ion-label>
              <app-custom-input
                formControlName="expiryDate"
                appExpiryDateFormatter
                type="string"
                maxLength="5"
                placeholder=""
                [errorMessages]="{
                  required: 'La fecha de expedición es obligatoria'
                }"
              >
              </app-custom-input>
            </ion-col>
            <ion-col>
              <ion-label position="start" >CVC</ion-label>
              <app-custom-input
                formControlName="cvc"
                appCvcCardFormatter
                maxLength="3"
                type="string"
                placeholder="124"
                [errorMessages]="{
                  required: 'El pais es obligatorio'
                }"
              >
              </app-custom-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" [disabled]="registerForm.invalid">Agregar Tarjeta</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
