<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back-outline" color="primary"></ion-icon>
      </ion-button>
      <!-- <ion-title>Modal</ion-title> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- En carousel -->
  @if((cards$ | async); as cards){
    <app-card-list
      [cards]="cards"
      mode="carousel"
      (selectedCard)="onSelectedCard($event)">
    </app-card-list>
  }
</ion-content>
