<ion-header>
  <ion-toolbar>
    <ion-icon  slot="end" name="notifications-outline" size="large" ></ion-icon>
    <ion-avatar  slot="end" (click)="openProfile()">
      <img alt="Silhouette of a person's head" src="https://pbs.twimg.com/profile_images/2044188962877485056/bzto2TpW_400x400.jpg" />
  </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="wallet-content">

  <div class="wallet-header">
    <div class="header-left">
      @if((currentUser$ | async); as user){
        <h1> Hola {{ user.name }}</h1>
        <p>Comenzemos a ahorrar tu dinero.</p>
      }
    </div>
  </div>

  @if((cards$ | async); as cards){
    @if(cards.length  > 0 ){
      <!-- En stack -->
        <app-card-list
          [cards]="cards"
          mode="stack"
          [cardMasked]="true"
          >
        </app-card-list>
    } @else {
      <div class="card-section">
        <div class="empty-card">
          <ion-icon name="card-outline"></ion-icon>
          <p>No hay tarjetas disponibles.</p>
          <ion-button routerLink="/add-card" shape="round" fill="solid" color="medium" size="small">
            + agregar tarjeta
          </ion-button>
        </div>
      </div>
    }
  }

  <div class="quick-actions">
    <app-quick-actions
      (click)="openChangeCardModal()"
      [disable]="cardsLength===0"
      label="Cambiar Tarjeta"
      iconName="layers-outline"
      color="teal"
    />
    <app-quick-actions
      label="Paga Ahora"
      iconName="card-outline"
      [disable]="cardsLength===0"
      color="green"
    />
    <app-quick-actions
      routerLink="/add-card"
      label="Agregar Tarjeta"
      iconName="add"
      color="darkblue"
    />
  </div>

  <div class="history-section">
    <div class="history-header">
      <h2>Card History</h2>
      <a class="view-all">View All</a>
    </div>
    <div class="empty-history">
      <p>No transactions with this selected card.</p>
    </div>
  </div>

</ion-content>
